html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters, .fighter-selectors  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.input {
    margin: 10px 0;
}

.input > label {
    display: inline-block;
    width: 65px
}

.modal-body {
    display: flex;
}

.fighter-data {
    margin: 0 auto;
}

.save-button {
    padding: 5px 50px;
}

.start-fight, .save-button {
    background-color: blue;
    color: white;
    border: none;
}

.start-fight {
    cursor: pointer;
    border-radius: 3px;
}

.submit, #fighter-name {
    text-align: center;
}

#fighter-name {
    font-size: 18px;
    font-weight: bold;
}

.fighter-select, .start-fight {
    margin: 10px;
    padding: 5px 20px;
    width: 150px;
}

.hidden {
    display: none;
}

.health {
    font-size: 30px;
    text-align: center;
}

#health-1 {
    color: blue;
}

#health-2, .record {
    color: red;
}

.record {
    font-size: 20px;
}

.log {
    height: 300px;
    overflow-y: scroll;
    width: 500px;
    padding-left: 15px;
}

.log::-webkit-scrollbar {
    display: none;
}

